/*
 * Seiten-Umschalter
 * -----------------
 */

/* Einfacher Umschalter (deaktiviert) */
/*.chapter {
	display: none;
}
.chapter.current {
	display: block;
}
.chapter.current ~ .chapter {
	display: none;
}*/

/* Schöner Umschalter, Schritt 1: Kapitel anordnen */
.chapter {
	position: absolute;
	top: 0;
	left: 0;
}

/* Schöner Umschalter, Schritt 2: Kapitelhöhe limitieren */
body, html {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}
.chapter {
	height: 100vh;
	width: 100vw;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/* Schöner Umschalter, Schritt 3: Transformation */
main {
	perspective: 5000px;
	height: 100%;
	width: 100%;
}
.chapter {
	transform: translateX(-60%) rotateY(90deg);
}
.chapter.current {
	transform: none;
}
.chapter.current ~ .chapter {
	transform: translateX(60%) rotateY(-90deg);
}

/* Schöner Umschalter, Schritt 4: Transition */
.chapter {
	transition: all 900ms ease-in-out;
	background: white;
}



/*
 * Schönere Titel
 * --------------
 */

/* Mercury */
#Mercury .header {
	background-image: url(img/MercuryTitle.jpg);
	background-position: center top;
}
#Mercury .header span {
	color: white;
	background: rgba(0, 0, 0, 0.4);
}

/* Gemini */
#Gemini .header {
	background-image: url(img/GeminiTitle.jpg);
	background-position: 50% 20%;
}
#Gemini .header span {
	color: black;
	background: rgba(255, 255, 255, 0.4);
}

/* Apollo */
#Apollo .header {
	background-image: url(img/ApolloTitle.jpg);
	background-position: 50% 10%;
}
#Apollo .header span {
	color: white;
	background: rgba(0, 0, 0, 0.555);
}

/* Space Shuttle */
#SpaceShuttle .header {
	background-image: url(img/ShuttleTitle.jpg);
	background-position: center center;
}
#SpaceShuttle .header span {
	color: white;
	background: rgba(0, 0, 0, 0.555);
}

/* Allgemeines Tuning: Header */
.header {
	height: 85vh;
	background-size: cover;
}

/* Allgemeines Tuning: Header-Text */
.header p {
	font-size: 1.6em;
	line-height: 1.5;
	position: absolute;
	bottom: 0.5em;
}
.header span {
	padding: 0.2rem 0.8rem;
}



/*
 * Detailtypografie
 * ----------------
 */

/* Schönere Schriftarten */
html {
	font-family: "PT Serif", "Times News Roman", serif;
}
.header {
	font-family: "Archivo Narrow", Arial, sans-serif;
}

/* Ligaturen und Silbentrennung */
.chapter {
	text-rendering: optimizeLegibility;
	hyphens: auto;
}

/* Initial */
.chapter .header + p:first-letter {
	float: left;
	font-size: 4.25em;
	line-height: 1.1;
	margin-right: 0.2em;
}

/* Bildunterschriften */
figcaption {
	font-style: italic;
}


/*
 * Anpassung für schmalere Bildschirme
 * -----------------------------------
 */

/* Schriftgröße justieren */
@media screen and (max-width: 320px){
	body {
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 480px){
	body {
		font-size: 1.25rem;
	}
}
@media screen and (min-width: 800px){
	body {
		font-size: 0.95rem;
	}
}

/* Bilder ab einer gewissen Grenze über volle Breite */
@media screen and (max-width: 600px){
	figure {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}



/*
 * Basis-Styles
 * ------------
 */

/* Schrift-Grundlagen */
html {
	font-size: 2.8vmin;
	line-height: 1.65;
}

/* Titel */
h2 {
	font-size: 4.5em;
	line-height: 1.25;
	margin-top: 0.75em;
}
.header {
	position: relative;
	padding: 2.5em 0;
}
figure figcaption {
	font-size: 0.8em;
}